html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'SuisseIntl-Bold';
    src: local('SuisseIntl-Bold'), url(../../assets/fonts/SuisseIntl-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'SuisseIntl-Light';
    src: local('SuisseIntl-Light'), url(../../assets/fonts/SuisseIntl-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'SuisseIntl-Regular';
    src: local('SuisseIntl-Regular'), url(../../assets/fonts/SuisseIntl-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'TWKEverett-Light';
    src: local('TWKEverett-Light'), url(../../assets/fonts/TWKEverett-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'TWKEverett-Regular';
    src: local('TWKEverett-Regular'), url(../../assets/fonts/TWKEverett-Regular.ttf) format('truetype');
}